# .NET Core
bin/
obj/
*.user
*.userosscache
*.suo
*.userprefs
.vs/

# Development settings
**/appsettings.Development.json
**/appsettings.Local.json

# User Secrets
*.usersecrets.json

# Environment Variables
.env
.env.*

# Logs
logs/
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# Operating System
.DS_Store
Thumbs.db